@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3a3939;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #bce6bc;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #2c2929;
  border-radius: 5px;
}
